<!-- <div *ngIf="post | async as p">
    <h2>{{ p.text }}</h2>
    <h4>Votes: {{ p.likes }}</h4>

    <button (click)="upvote()">Upvote</button>
    <button (click)="downvote()">Downvote</button>
    <button (click)="resetPost()">Reset</button>
    <input [(ngModel)]="text">
    <button (click)="editText()">Change Title</button>
</div> -->

<div>
    <div>
        <h1>{{title}}</h1>
        <h3>{{description}}</h3>
    </div>

    <div>
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="item">Item</label>
                <input type="text" 
                    placeholder="Enter content........." 
                    id="item"
                    required [(ngModel)]="itemValue"
                    name="item">
            </div>
        </form>
    </div>

    <h2>Content from Firebase</h2>
    <div>
        <pre *ngFor="let item of items | async">{{ item?.content }}</pre>
    </div>
</div>